<div class="no-padding">
    <div *ngIf="enableToolbar" class="dexih-table-toolbar">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <div class="form-inline">
                    <button *ngIf="enableSaveCsv && tableItems" (click)="saveCsv()" class="btn btn btn-primary" title="Export the current data to a csv file.">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;
                        <span class="hidden-sm hidden-xs">Export</span>
                    </button>

                    <ng-template *ngIf="enableActions && tableItems" [ngTemplateOutlet]="actionsTemplate" [ngTemplateOutletContext]="{items: currentSelectedItems}"
                        [ngTemplateOutletContext]="items">
                    </ng-template>
                    &nbsp;
                    <ng-template *ngIf="enableSingleSelectActions && selectedItemsCount == 1" [ngTemplateOutlet]="selectedItemActionsTemplate"
                        [ngTemplateOutletContext]="{item: currentSelectedItems[0]}" [ngTemplateOutletContext]="item">
                    </ng-template>
                    &nbsp;
                    <ng-template *ngIf="enableMultiSelectActions && selectedItemsCount > 0" [ngTemplateOutlet]="selectedItemsActionsTemplate"
                        [ngTemplateOutletContext]="{items: currentSelectedItems}" [ngTemplateOutletContext]="items">
                    </ng-template>
                </div>
            </div>
            <hr class="row hidden-lg hidden-md" />
            <div *ngIf="enableFilter" class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <div [ngClass]="{disabled : manualSort}" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    <input [ngModel]="filterString" [formControl]="filterControl" class="form-control input-md" placeholder="Search..."
                        type="search" name="filterString" />
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tableItems" [ngClass]="{enableResponsive: table-responsive}">
        <table [class]="tableClass" width="100%" dnd-sortable-container [sortableData]="tableItems">
            <thead>
                <tr *ngIf="currentColumns && enableHeaderRow">
                    <th *ngIf="enableMultiSelect" width="1%">
                        <input type="checkbox" [(ngModel)]="selectAllState" (ngModelChange)="selectAll()">
                    </th>
                    <th *ngIf="enableManualSort" width="1%">
                        <i class="glyphicon glyphicon-sort"></i>
                    </th>
                    <th *ngIf="enableRowActions">Action</th>
                    <th *ngIf="enableRowStatus">Status</th>
                    <th class="text-center" *ngFor="let column of currentColumns">
                        <span (click)="enableSort && ( column.name || column.name == 0 ) && sort(column.name)">
                            <i *ngIf="(sortColumn || sortColumn == 0) && sortColumn == column.name && sortDirection==1" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
                            <i *ngIf="(sortColumn || sortColumn == 0) && sortColumn == column.name && sortDirection==-1" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
                            {{column.title}}
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="tableItems.length == 0 || !currentColumns">
                    <td [attr.colspan]="columnCount">There are no rows available.</td>
                </tr>
                <ng-template ngFor let-tableItem [ngForOf]="tableItems" let-i="index">
                    <tr *ngIf="!tableItem.isFiltered" [class.active]="tableItem?.isSelected">
                        <td *ngIf="enableMultiSelect">
                            <input type="checkbox" [(ngModel)]="tableItem.isSelected" (ngModelChange)="itemSelected(true)">
                        </td>
                        <td *ngIf="enableManualSort">
                            <button class="btn btn-sm btn-primary" dnd-sortable [sortableIndex]="i" (onDropSuccess)="manualSortChange()" title="Drag to move row to another position">
                                <i class="glyphicon glyphicon-sort"></i>
                            </button>
                        </td>
                        <td *ngIf="enableRowActions">
                            <ng-template [ngTemplateOutlet]="rowActionTemplate" [ngTemplateOutletContext]="{item: data[tableItem.index]}" [ngTemplateOutletContext]="item">
                            </ng-template>
                        </td>
                        <td *ngIf="enableRowStatus">
                            <ng-template [ngTemplateOutlet]="rowStatusTemplate" [ngTemplateOutletContext]="{item: data[tableItem.index]}" [ngTemplateOutletContext]="item">
                            </ng-template>
                        </td>
                        <td *ngFor="let column of currentColumns" [ngStyle]="{'text-align': column.align, 'width': column.width, 'background-color': column.backgroundColor, 'text-color': column.textColor}"
                            (click)="selectRowClick(data[tableItem.index])" [title]="data[tableItem.index][column.tooltip] ? data[tableItem.index][column.tooltip] : ''">

                            <ng-template *ngIf="enableCellTemplate" [ngTemplateOutlet]="cellTemplate" [ngTemplateOutletContext]="{item: data[tableItem.index], column: column, value: data[tableItem.index][column.name]}" [ngTemplateOutletContext]="item" [ngTemplateOutletContext]="column" [ngTemplateOutletContext]="value" >
                            </ng-template>

                            <dexih-table-cell *ngIf="enableCellValue" [column]="column" [row]="data[tableItem.index]"></dexih-table-cell>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>

    <div *ngIf="!tableItems">
        <div class="row">
            <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12">
                <h3 class="ajax-loading-animation">&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><span name="loading">Data is loading...</span></h3>
            </div>
        </div>
    </div>
</div>