<div [class]="row[column.class]" [ngSwitch]="column.format" [ngStyle]="{'text-align': alignment}">
        <!-- <dexih-invalid-form-icon *ngIf="column.control" [control]="row[column.control]"></dexih-invalid-form-icon> -->
        <i *ngIf="column.iconClass" [class]="row[column.iconClass]"></i>
        <div *ngIf="column.control && !column.name; else other_content">
            {{row[column.control].value}}
        </div>
        <ng-template #other_content>
            <input *ngSwitchCase="'Boolean'" type="checkbox" disabled [ngModel]="row[column.name]" />
            <div *ngSwitchCase="'Html'" [innerHTML]="value"></div>
            <div *ngSwitchCase="'Md'" (click)="getRoute($event)">
                <div><small *ngIf="header"><markdown [data]="header"></markdown></small></div>
                <markdown *ngIf="value" [data]="value" ></markdown>
                <div><small *ngIf="footer"><markdown [data]="footer"></markdown></small></div>
            </div>
            <pre *ngSwitchCase="'Code'"><code>{{value}}</code></pre>
            <div *ngSwitchCase="'Node'">
                <button *ngIf="!nodeExpanded" (click)="expand()" class="btn btn btn-primary mr-1" title="Expand the current node">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 320 512">
                    <path fill="white" d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z"></path>
                    </svg>                        
                    <span class="ml-1 d-none d-md-inline">Expand</span>
                </button>
                <button *ngIf="nodeExpanded" (click)="collapse()" class="btn btn btn-danger mr-1" title="Collapse the current node">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 320 512">
                            <path fill="white" d="M177 255.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 351.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 425.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1zm-34-192L7 199.7c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l96.4-96.4 96.4 96.4c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9l-136-136c-9.2-9.4-24.4-9.4-33.8 0z"></path>
                        </svg>                        
                        <span class="ml-1 d-none d-md-inline">Collapse</span>
                    </button>
                </div>
            <span *ngSwitchDefault>
                <div><small *ngIf="header">{{header}}</small></div>
                    {{formattedValue}}
                <div><small *ngIf="footer">{{footer}}</small></div>
            </span>
        </ng-template>
    </div>