<div [class]="row[column.class]" [ngSwitch]="column.format" [ngStyle]="{'text-align': alignment}">
        <!-- <dexih-invalid-form-icon *ngIf="column.control" [control]="row[column.control]"></dexih-invalid-form-icon> -->
        <i *ngIf="column.iconClass" [class]="row[column.iconClass]"></i>
        <div *ngIf="column.control && !column.name; else other_content">
            {{row[column.control].value}}
        </div>
        <ng-template #other_content>
            <input *ngSwitchCase="'Boolean'" type="checkbox" disabled [ngModel]="row[column.name]" />
            <div *ngSwitchCase="'Html'" [innerHTML]="value"></div>
            <markdown *ngSwitchCase="'Md'" [data]="value"></markdown>
            <pre *ngSwitchCase="'Code'"><code>{{value}}</code></pre>
            <span *ngSwitchDefault>{{formattedValue}}</span>
        </ng-template>
    </div>